@use '../helpers/' as *;

.button {
    display: inline-flex;
    justify-content: center;
    padding: rem(18) rem(24);
    background-color: var(--color-accent);
    color: var(--color-light);
    border-radius: rem(10);

    @include laptop {
        padding: rem(14) rem(20);
        border-radius: rem(8);
    }

    @include hover {
        color: var(--color-grey-08);
    }

    &--grey {
        background-color: var(--color-grey-10);
        border: var(--border);

        @include hover {
            color: var(--color-accent);
        }

        &-08 {
            background-color: var(--color-grey-08);
        }
    }
}