@use '../helpers/' as *;

.circle {
  position: relative;

  @include square(rem(175));

  background-color: var(--color-grey-08);
  border-radius: 50%;
  border: var(--border);

  &__transparent {
    @include abs-center;

    position: absolute;
    display: block;
    overflow: visible;
    width: fluid(140, 130);
    font-size: rem(12);
    letter-spacing: rem(1.6);
    fill: var(--color-light);
    padding: rem(16);

    @include mobile {
      width: rem(120);
    }
  }

  & path {
    fill: none;
  }

  &__link {
    @include abs-center;

    position: absolute;
    border-radius: 50%;
    padding: rem(14);

    & svg {
      width: fluid(34, 21);
      height: fluid(34, 21);
    }
  }
}