@use '../helpers/' as *;

.input {
    width: 100%;
    padding: rem(18) rem(64) rem(18) rem(34);
    background-color: transparent;
    border: var(--border);
    color: var(--color-light);
    border-radius: rem(12);
    padding-left: rem(50);
    background-image: url('../../icons/envelope-email-input_grey.svg');
    background-repeat: no-repeat;
    background-position: rem(16) center;
    background-size: rem(24);

    &::placeholder {
        color: var(--color-grey);
        font-size: rem(18);

        @include laptop {
            font-size: rem(14);
        }
    }

    @include laptop {
        padding: rem(14) rem(50) rem(14) rem(40);
        border-radius: rem(8);
        background-position: rem(14) center;
        background-size: rem(20);
    }

    &__button {
        --sizeSubmitButtonIcon: #{rem(30)};
        @include square(var(--sizeSubmitButtonIcon));

        position: absolute;
        top: 50%;
        right: 5%;
        translate: 0 -50%;
        background: url('../../icons/airfly-submit-icon_white.svg') center / cover no-repeat;
        background-color: transparent;
        border: none;

        @include laptop {
            --sizeSubmitButtonIcon: #{rem(24)};
        }
    }
}

//Добавить область нажатия для бургер кнопки