@use '../helpers/' as *;

.metrics {
    &__list {
        display: flex;
        align-items: center;
        column-gap: rem(20);

        @include laptop {
            column-gap: rem(16);
        }
    }

    &__item {
        display: flex;
        flex-direction: column-reverse;
        row-gap: rem(2);
        padding: rem(16) rem(24);

        @include laptop {
            padding: rem(14) rem(20);
        }

        @include laptop {
            padding: rem(16) rem(16);
        }
    }
}